* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  background-color: black;
  color: white;
}
a{
  text-decoration: none;
}
.container {
  /* 1000px - 1440px */
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 8px;
}
.logo {
  width: 117px;
  height: 36px;
}
header{
  width: 100%;
  padding: 24px 0;
}
header nav{
  position: absolute;
  display: flex;
  top: 0px;
  left: 75%;
  transform: translateX(-50%);
  justify-content: space-around;
  width: 100%;
  max-width: 632px;
  padding: 16px 24px;
}
header nav a{
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 700;
  transition: color 0.4s;
}
header nav a:hover{
  color: white;
}
h1 {
  font-family: 'Open Sans', sans-serif;
}
#sta{
  display: flex;
}
#sta .content {
  width: 50%;
}
#sta h1 {
  color: white;
  font-weight: 300;
  font-size: 50px;
  padding: 200px 0;
  padding-left: 40px;
}
#btn{
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 8px 25px 8px 25px;
}
#sta .img{
  width: 50%;
  background: url(../assets/img-primeira.png) no-repeat;
  background-size: cover;
}
#list_img{
  width: 1070px;
  margin: auto;
  margin-top: 60px;
  padding-top: 60px;
}
.borda{
  border: 1px solid white;
  width: 250px;
}
#services{
  display: flex;
}
#services .content {
  width: 50%;
}
#h1_serv{
  padding-top: 150px;
  padding-bottom: 70px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#services .right{
  padding-left: 150px;
}
#services p{
  padding-bottom: 30px;
  text-indent: 50px;
  color: rgb(134, 134, 134);
}
#services .img{
  width: 50%;
  background: url(../assets/img-services.jpg) no-repeat;
  background-size: cover;
}
#dnv{
  display: flex;
  padding-top: 200px;
}
#dnv .content {
  width: 50%;
}
#dnv h1 {
  color: white;
  font-weight: 300;
  font-size: 50px;
  padding: 200px 0;
  padding-left: 40px;
}
#btn{
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 8px 25px 8px 25px;
}

#dnv .img{
  width: 50%;
  background: url(../assets/img-primeira.png) no-repeat;
  background-size: cover;
}

#end{
  display: flex;
  margin-top: 150px;
  background-color: #fff; 
}
#end .content {
  width: 100%;
}
#end h1 {
  color: rgb(41, 40, 40);
  font-weight: 300;
  font-size: 50px;
  padding: 200px 0;
  padding-left: 40px;
  margin: 0;
}
#end .img{
  width: 50%;
  background: url(../assets/end-features.jpg) no-repeat;
  /* NAO CONSEGUI COLOCAR A IMAGEM CENTRALIZADA NEM FUD#@$% */
}