@charset "UTF-8";

body{
    background-color: rgb(102, 52, 18) !important;
}
header{
    width: 100%;
    background-color: black;
    z-index: 1000  !important;
    position: fixed;
}
#nav{
    display: block;
}
.logo{
    height: 100px;
}
#burguer{
    color: white;
    margin-left: 70%;
    font-size: 30px;
}
#itens{
    text-align: right;
    width: 100%;
    position: fixed;
}
.list-unstyled{
    width: 100% !important;
}
.botao{
    width: 100%;
    background-color: black !important;
    border: 1px solid white !important;
    font-weight: bold !important;
}
#intro{
    padding-top: 120px;
    color: white;
    font-family: 'PT Serif', serif;
    text-align: center;
}
#intro h1{
    font-size: 40px;
}
.nome{
    font-size: 50px !important;
}
.hora{
    background-color: #daa520 !important;
    border: 1px solid #daa520 !important;
    margin-top: 10px;
}
.seta {
    margin-top: 10px;
    margin-bottom: 15px;  
    display: block;  
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.imagem-mob{
    width: 100%;
    background-size: contain;
    background-position: center;
}


@media screen and (min-width: 780px){
    .logo{
        display: block;
        text-align: center;
    }
    span#burguer{
        display: none;
    }
    ul{
        display: none;
    }
    #nav{
        display: block;
        color: white;
    }

}